<nav>
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400&display=swap" rel="stylesheet">
  <h1 id="store"><a href="/products">Marathon Training</a></h1>
  <button type="button" name="button" class="new-product"><a href="/products/new">Add Workout</a></button>
</nav>
<div id="noise">
</div>
