<meta charset="utf-8">
<title>Marathon Training</title>
<link rel="stylesheet" href="/css/normalize.css">
<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/skeleton.css">
<link rel="stylesheet" href="/css/main.css">
<link rel="icon" href="/assets/$.png">
<div id="noise">
</div>
<style>

    .title {

        color: white;
  font-family: 'Monument Extended', sans-serif;
  font-size: 24px;
      -webkit-text-fill-color: black;  
-webkit-text-stroke-width: 1px;
-webkit-text-stroke-color: white; 

}

</style>
