<nav>
  
  <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@100;400&display=swap" rel="stylesheet">
  <h1 id="store"><a href="/schedules">Marathon Training</a></h1>
  <button type="button" name="button" class="new-schedule"><a href="/schedules/new">Add Workout</a></button>
</nav>

